.App {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.circle {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: clip;
}
body {
  background-color: #fbfafa;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.App-header {
  /* background-color: #282c34; */
  height: 70vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
